.card {
    margin: 35px 15px;
}
.card-body {
    background-color: rgb(226, 255, 95);
    color: salmon;
}
.card-header {
    font-family: 'Caprasimo', "Apple Chancery", Times, sans-serif;
    background-color: cadetblue;
    color: papayawhip;
}
.blogHD1, .blogHD2, .blogHD3, .blogHD4, .blogHD5, .imgHD1, .imgHD2, .imgHD3, .imgHD4, .imgHD5, .templateHD {
    display: none;
}
