body {
    font-family: Verdana, Arial, sans-serif;
    background-image: url("../img/zerobg.jpeg");
    background-size: contain;
    background-attachment: fixed;
}
a, a:visited {
    color:blueviolet
}
a:hover {
    color: maroon;
}
table {
    text-align: left;
    margin-top: 25px;
}
th {
    vertical-align: top;
}
tr {
    border-style: hidden;
}
.project {
    width: 400px;
}
.table1 {
    width: 600px; 
}
.table2, .table3, .table4 {
    display: none;
}

.hide {
    display: none;
}
li {
    font-weight: bold;
}
.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right bottom, blue, teal, lightskyblue);
    color: orangered;
}
.container {
    border: none;
}