body {
    font-family: Verdana, Arial, sans-serif;
    background: lightskyblue;

}
a, a:visited {
    color:blueviolet
}
a:hover {
    color: maroon;
}
table {
    text-align: left;
    border-style: solid;
    margin-top: 5px;
    border-color: black;
}
th {

    vertical-align: top;
}
.project {
    width: 400px;
}
.table1 {
    width: 600px; 
}
.table2, .table3, .table4 {
   
    display: none;
}

.hide {
    display: none;
}
.hiddenBorder {
    border-style: hidden;
    background-color: lightskyblue;
}
.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right bottom, blue, teal, lightskyblue);
    color: orangered;
}
.container {
    border: none;
}