body {
    font-family: Verdana, Arial, sans-serif;
    background-image: url("../img/zerobg.jpeg");
    background-size: contain;
    background-attachment: fixed;
}
a, a:visited {
    color:blueviolet
}
a:hover {
    color: maroon;
}
table {
    text-align: left;
    border-style: solid;
    margin-top: 5px;
    border-color: black;
}
th {
    border-style: solid;
    vertical-align: top;
}
thead {
    background:magenta;
}
.first {
    background: lightseagreen;
}
.second {
    background: blueviolet;
}
.third {
    background: lightcyan;
}
.project {
    width: 400px;
}
.table1 {
    width: 600px; 
}
.table2, .table3, .table4 {
    width: 1200px;
    display: none;
}
.hide {
    display: none;
}
.hiddenBorder {
    border-style: hidden;
}
.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right bottom, blue, teal, lightskyblue);
    color: orangered;
}
.twitter-tweet {
    width: fit-content;
}