
a:hover {
    color: maroon;
}

body {
    font-family: Verdana, Arial, sans-serif;
    background-image: url("../img/zerobg.jpeg");
    background-size: contain;
    background-attachment: fixed;
    color: blue;
}
header h1 {
    font-size: 4em;
    font-family: 'IM Fell French Canon', "Apple Chancery", Times, sans-serif;
}
header h2 {
    font-size: 2.4em;
    font-family: 'IM Fell French Canon', "Apple Chancery", Times, sans-serif;
}
header h3 {
    font-size: 1.8em;
    font-family: 'IM Fell French Canon', "Apple Chancery", Times, sans-serif;
    color: rgb(232, 100, 52);
}
li {
    font-weight: bold;
}
table {
    text-align: left;
    margin-top: 25px;
}
th {
    vertical-align: top;
}
tr {
    border-style: hidden;
}
.card {
    margin: 35px 15px;
}
.card-body {
    background-color: rgb(226, 255, 95);
    color: salmon;
}
.card-header {
    font-family: 'Caprasimo', "Apple Chancery", Times, sans-serif;
    background-color: cadetblue;
    color: papayawhip;
}
.hide, .table2, .table3, .table4 {
    display: none;
}
.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right bottom, blue, teal, lightskyblue);
    color: orangered;
}
.navbar {
    background-color: lightsteelblue;
}
.project {
    width: 400px;
}
.site-footer {
    background-image: linear-gradient(to left top, teal, lightskyblue, white);
    padding: 20px 0;
}
.table1 {
    width: 500px; 
}
.th1 {
    width: 200px;
} 
#content-wrap {
    padding-bottom: 2.5rem;    
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
