.affiliates {
    display: none;
}
.EWclass {
    display: none;
}
.g2pilot {
    display: none;
}
.gPaint {
    display: none;
}
.gPaintMobile {
    display: none;
}
.gundamModel {
    display: none;
}
.links {
    display: none;
}
.mobileArmor {
    display: none;
}
.otherBuilds {
    display: none;
}
.otherModelsClass {
    display: none;
}
.owner { 
    display: none;
}
.pBandaiClass {
    display: none;
}
