.affiliates {
    display: none;
}
.altNameClass {
    display: none;
}
.autoModel1 {
    display: none;
}
.EWclass {
    display: none;
}
.g2pilot {
    display: none;
}
.gFromClass, .gFromClass_Mobile {
    display: none;
}
.gPaint {
    display: none;
}
.gPaintMobile {
    display: none;
}
.gToClass, .gToClass_Mobile {
    display: none;
}
.gundamModel1, .gundamModel2 {
    display: none;
}
.links {
    display: none;
}
.mobileArmorClass {
    display: none;
}
.otherBuilds {
    display: none;
}
.otherModelsClass {
    display: none;
}
.owner { 
    display: none;
}
.pBandaiClass {
    display: none;
}
.transformerModel {
    display: none;
}

#projectTitle, #projectTitle_Mobile {
    font-family: "Apple Chancery", Times, sans-serif;
}
#projectTitle {
    font-size: 3em;
}
#projectTitle, #projectTitle_Mobile, #modelFullName {
    color: rgb(250, 69, 129);
}
