.affiliates {
    display: none;
}
.altNameClass {
    display: none;
}
.EWclass {
    display: none;
}
.g2pilot {
    display: none;
}
.gFromClass, .gFromClass_Mobile {
    display: none;
}
.gPaint {
    display: none;
}
.gPaintMobile {
    display: none;
}
.gToClass, .gToClass_Mobile {
    display: none;
}
.gundamModel {
    display: none;
}
.links {
    display: none;
}
.mobileArmorClass {
    display: none;
}
.otherBuilds {
    display: none;
}
.otherModelsClass {
    display: none;
}
.owner { 
    display: none;
}
.pBandaiClass {
    display: none;
}

